<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/srira/IdeaProjects/APIAutomationPrograms">
        <classes>
            <class name="com.thetestingacademy.RestAssuredBasics.GET.APITesting007_GET_TestNG">
            </class>
        </classes>
    </test>
</suite>